    <main class="main-wrap">
        <header class="main-header navbar">
            <div class="col-search">
                <form class="searchform">
                    <div class="input-group">
                        <input list="search_terms" type="text" class="form-control" placeholder="Search term">
                        <button class="btn btn-light bg" type="button"> <i class="material-icons md-search"></i></button>
                    </div>
                    <datalist id="search_terms">
                        <option value="Products">
                        <option value="New orders">
                        <option value="Apple iphone">
                        <option value="Ahmed Hassan">
                    </datalist>
                </form>
            </div>
            <div class="col-nav">
                <button class="btn btn-icon btn-mobile me-auto" data-trigger="#offcanvas_aside"> <i class="material-icons md-apps"></i> </button>
                <ul class="nav">
                    <li class="nav-item">
                        <a class="nav-link btn-icon" href="#">
                            <i class="material-icons md-notifications animation-shake"></i>
                            <span class="badge rounded-pill">3</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link btn-icon darkmode" href="#"> <i class="material-icons md-nights_stay"></i> </a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="requestfullscreen nav-link btn-icon"><i class="material-icons md-cast"></i></a>
                    </li>

                </ul>
            </div>
        </header>
        <section class="content-main">
            <div class="content-header">
                <div>
                    <h2 class="content-title card-title">Edit Categories </h2>
                    <p>Edit category</p>
                </div>
             
            </div>
            <div class="card">
                <div class="card-body">
              
                    <div class="row">
                        <div class="col-md-12">
                            <form action="/admin/editCategory/{{cat._id}}" method="post" class="" enctype="multipart/form-data">
                                <div class="mb-4">
                                    <label for="categoryName" class="form-label">Category Name:</label>
                                    <input type="text"  class="form-control" name="name" id="product_name" value="{{cat.category}}" required />
                                </div>
                                
                                
                                <div class="mb-4">
                                    <label for="categoryImage" class="form-label">Category Image:</label>
                                    <input type="file" placeholder="{{cat._id}}" class="form-control-file" src="/images/products/{{image.[0]}}" name="image" id="product_name"  />
                                    
                                    
                                </div>
                                <div class="d-flex g-2">
                                    <div class="m-2">
                                         <button type="submit" class="btn btn-primary">Edit category</button>

                                    </div>
                                    <div class="m-2">
                                        <a id="backbutton" type="button" class="btn btn-primary">back</a>

                                    </div>
                                   
                                    
                                </div>
                            </form>
                        </div>
                     
                    </div> <!-- .row // -->
                </div> <!-- card body .// -->
            </div> <!-- card .// -->
        </section> <!-- content-main end// -->
        <footer class="main-footer font-xs">
            <div class="row pb-30 pt-15">
                <div class="col-sm-6">
                    <script>
                    document.write(new Date().getFullYear())
                    </script> ©, ConsoleHaven- Haven for Gamers .
                </div>
                <div class="col-sm-6">
                    <div class="text-sm-end">
                        All rights reserved
                    </div>
                </div>
            </div>
        </footer>
    </main>

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
    ////////////back
    $(document).ready(function () {
        $('#backbutton').click(function (e) {
            e.preventDefault();


            Swal.fire({
                title: "Leave the page?",
                text: "The Data will not be saved",
                icon: "warning",
                showCancelButton: true,
                confirmButtonColor: "#088178",
                cancelButtonColor: "#d33",
                confirmButtonText: "Yes"
            }).then((result) => {
                if (result.isConfirmed) {
                    window.location.href = "/admin/category";

                }
            });


        });
    });


    ////add products form submit
    function submitform(form) {
        event.preventDefault(); // Prevent default form submission action
        if (Validation(form)) {
            Swal.fire({
                title: "Are you sure?",
                text: "Do you want to save changes?",
                icon: "warning",
                showCancelButton: true,
                confirmButtonColor: "#088178",
                cancelButtonColor: "#d33",
                confirmButtonText: "Yes, change it!"
            }).then((result) => {
                if (result.isConfirmed) {
                    form.submit(); // Submit the form if user clicks "Yes"
                }
            }).then(() => {
                // Show success message after form submission
                Swal.fire({
                    title: "Saved",
                    text: "The Data has been saved",
                    icon: "success"
                });
            });
        }
    }

   

</script>